@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
h1 { 
    margin-top : 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:rgb(240, 157, 222);
}
.pic {
    display: block;
    margin: auto;
    width : 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.edit {
    width: 500px;
    height: auto;
    background:rgb(240, 210, 234);
    border-radius: 30px;
    display: block;
    margin: auto;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: rgb(209, 10, 166);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 5px 5px rgb(71, 66, 66);
}
.top {
    width: 500px;
    margin-left: -50px;
    padding: 30px;
    padding-top: 60px;
    background-image: linear-gradient(to bottom right, rgb(240, 157, 222), #564df7);
    opacity: 0.9;
    border-radius: 30px 30px 15% 15%;
    margin-bottom: 30px;
}
label {
    font-family: 'Roboto', sans-serif;
}
.save {
    width: 300px;
    display:block;
    margin: auto;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: rgb(104, 228, 66);
    color: rgb(21, 128, 170);
    font-weight: bold;
}
.radio {
    padding-right: 120px;
}
.save:hover {
    background: rgb(161, 229, 140);
}
@media screen and (max-width: 600px) {
    .edit {
        width: 400px; 
    }
    .top {
        width: 400px;
    }
    .pic {
        width: 100px;
        height: 100px;
    }
    .radio {
        padding-right: 50px;
    }
  }