<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'editstyle.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Edit Project</title>
</head>
<body style='height: 100%;'>
    {% include 'navbar.html' %}
    <main>
        <section id='edit'>
            <h3 id='title'>Edit Proyek</h3>
            <form method="POST" action="">
                {% csrf_token %}
                <div class='formlist'>{{ form.as_p }}</div>
                <div id='buttons'>
                    <input class="submit button primary" id='editButton' type="submit" value="Edit">
                    <a class="button secondary" href='.'>Kembali</a>
                </div>
            </form>
        </section>
    </main>
    {% include 'footer.html' %}
</body>
<script src="{% static 'script_edit.js' %}"></script>
</html>