<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8" />
        <title>Form Melamar</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            .id_project{
                display: none;
            }
        </style>
    </head>
    <body class="user-select-none">
        {% include "navbar.html" %}
        <div class="container mt-4 text-center">
            <h1 class="text-center">Silahkan isi Form Berikut</h1>
            
            <form action="" method="POST" class="d-flex flex-column mx-auto" style="width: 400px" enctype="multipart/form-data" id="post-form">
                {% csrf_token %}
                <p align = left><label for="id_nama_pelamar">Nama pelamar:</label> <input type="text" name="nama_pelamar" class="form-control" maxlength="50" required id="id_nama_pelamar" placeholder = "Isi dengan nama sesuai identitas"></p>
                <p align = left><label for="id_pesan">Pesan:</label> <textarea name="pesan" class="form-control" required id="id_pesan" placeholder = "Isi pesan anda kepada pembuat proyek"></textarea></p>
                <p align = left><label for="id_kontak_pelamar">Kontak pelamar:</label> <textarea name="kontak_pelamar" class="form-control" required id="id_kontak_pelamar" placeholder = "format {jenis_kontak} : {id/nomor akun}"></textarea></p>
                <p align =left><label for="id_cv_pelamar">Cv pelamar:</label> <br> <input type="file" name="cv_pelamar" required id="id_cv_pelamar"></p>
                <p> <input type="text" name="id_project" value="0" class="id_project" id="id_id_project"></p>
                <input type="submit"  class="btn btn-primary mt-4">
            </form>
        </div>
        {% include 'footer.html' %}
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>
