
  {% for n in faq %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ n.id }}">
        <button id='accord' class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ n.id }}" aria-expanded="true" aria-controls="collapse{{ n.id }}">
          {{ n.question }}
        </button>
      </h2>
      <div id="collapse{{ n.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ n.id }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Answer: </strong>{{ n.answer }}
        </div>
      </div>
    </div>
	{% endfor %}
