{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% include 'daftar_project/css.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block main %}
    {% endblock main %}
    
    {% include 'footer.html' %}
    {% include 'daftar_project/scripts.html' %}

    {% block load_projects %}
    {% endblock load_projects %}
</body>
</html>