{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Login</title>
  </head>
  
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h4>Masuk ke Akun Pengguna</h4>
        <div class="row">
          <div class="card">
            <div class="card-body">
              <form action="" method="POST" id="login-form">
                {% csrf_token %}
                <div class="row" style="margin-left:0px; padding-right:50px;">
                    <div class="col-md-12">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" placeholder="" required autofocus>
                        <br>
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="" required>
                      
    
                        {% for field in login_form %}
                        <p>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% endfor %}
                        {% if login_form.non_field_errors %}
                        <div class="non-field-errors">
                        {% for err in login_form.non_field_errors %}
                        <ul>
                        <p class="form-error" ><li style="color: red; text-align: left;">{{ err }}</li></p></ul>
                        {% endfor %}
                        </div>
                        {% endif %}
    
    
                        <input type="submit" id="reg-button" value="Masuk" class="btn btn-primary btn-block" style="width: 426px;">
                        <br> <br>
                        <label for="">Daftar <a href="{% url 'signup' %}">disini</a> apabila tidak memiliki akun</label>
                    </div>
                </div>
            </form>
            </div>
          </div>
        </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>

