{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Buat Project</title>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container">
      <h1 align="center">Buat Project</h1>
      <form class="row g-3" id="buatproject" >
        {% csrf_token %}
          <div class="col-mb-3">
            <label class="form-label">Nama Pemilik Proyek</label>
            <input type="text" class="form-control" placeholder="Mikael" id="nama_pemilik" required>
          </div>
          
          <div class="col-mb-3">
            <label class="form-label">Nama Proyek</label>
            <input type="text" class="form-control" placeholder="Project Channel" id="nama_proyek" required>
          </div>
          
          <div class="col-mb-3">
            <label class="form-label">Kategori Proyek</label>
            <input type="text" class="form-control" placeholder="Web Development" id="kategori_proyek" required>
          </div>

          <div class="col-mb-3">
            <label class="form-label">Bayaran (Rupiah)</label>
            <input type="text" class="form-control" placeholder="10.000.000 (tanpa titik)" id="bayaran" required>
          </div>

          <div class="col-mb-3">
            <label class="form-label">Deskripsi Proyek</label>
            <textarea class="form-control" rows="3" id="deskripsi_proyek" required></textarea>
          </div>

          <div class="col-mb-3">
            <label class="form-label">Estimasi Waktu</label>
            <input type="text" class="form-control" placeholder="5 Bulan" id="estimasi" required>
          </div>

          <div class="col-mb-3">
            <label class="form-label">Daftar Skill yang Dibutuhkan</label>
            <textarea class="form-control" rows="3" id="skills" required></textarea>
          </div>

          <div class="col-mb-3">
            <label class="form-label">Kontak Pemilik</label>
            <textarea class="form-control" rows="3" id="kontak" required></textarea>
          </div>

          <div class="col-mb-3">
            <label class="form-label">Jumlah Orang</label>
            <input type="number" class="form-control" placeholder="20" id="jumlah_orang" required>
          </div>

          <div class="col-mb-3" align="center">
            <button style="width:90%;" type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Ajax -->
    <script type="text/javascript">
      $(document).on('submit', '#buatproject', function(e) {
        e.preventDefault();
        $.ajax({
          type:"POST",
          url:"{% url 'buat_project:buat_project' %}",
          data:{
            nama_pemilik:$("#nama_pemilik").val(),
            nama_project:$("#nama_proyek").val(),
            kategori:$("#kategori_proyek").val(),
            bayaran:$("#bayaran").val(),
            deskripsi:$("#deskripsi_proyek").val(),
            estimasi:$("#estimasi").val(),
            skills:$("#skills").val(),
            kontak_pemilik:$("#kontak").val(),
            jumlah_orang:$("#jumlah_orang").val(),
            csrfmiddlewaretoken:'{{ csrf_token }}',
          },
          dataType: 'json',
          success: function(response) {
            alert("Proyek Berhasil Ditambahkan!");
            window.location.reload();
          },

        });
      });
    
    </script>
{% include 'footer.html' %}
</body>

</html>