<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Edit Profile</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/FormProfil.css' %}" type="text/css" >
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <form action="" method="POST" }>
            {% csrf_token %}
            <div class="edit">
                <div class="top">
                <img class="pic" src="{% static 'image/icon-edit.png' %}">
                <h1>Edit Profil</h1>
                </div>
                <label for="nama">Nama</label>
                <input name="nama" type="text" required class="form-control" id="nama" placeholder="">
                <br>
                <label for="institusi">Asal Institusi</label>
                <input name="institusi" type="text" required class="form-control" id="institusi" placeholder="">
                <br>
                <label for="jeniskelamin">Jenis Kelamin</label><br><br>
                <input type="radio" required name="jenis_kelamin" id="pria" value="Pria">
                <label class="radio" for="pria">Pria</label>
                <input type="radio" required name="jenis_kelamin" id="wanita" value="Wanita">
                <label class="radio" for="wanita">Wanita</label>
                <br><br>
                <label for="kontak">Kontak</label>
                <input name="kontak" type="text" required class="form-control" id="kontak" placeholder="">
                <br>
                <label for="email">Email</label>
                <input name="email" type="text" required class="form-control" id="email" placeholder="Ex. youremail@mail.com">
                <br>
                <input class="save btn btn-outline-success btn-form" type="submit" value="SAVE">
            </div>
        </form>
    </body>
    {% block javascript %}
        <script>
            $("#email").change(function () {
                var email = $(this).val();

                $.ajax({
                    url: "validate_email/",
                    data: {
                    'email': email
                    },
                    dataType: 'json',
                    success: function (data) {
                    if (data.is_taken) {
                        alert("A user with this email already exists.");
                    }
                    }
                });

            });
        </script>
    {% endblock %}
    {% include 'footer.html' %}
</html>
