body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
button{
    all: unset;
    margin: auto;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
    
    width: 80px;
    height: 32px;
    border-radius: 8px;
    padding: 10px 14px;

    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
#edit{
    width: 55%;
    margin: auto;
    margin-top: 72px;
    margin-bottom: 36px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 36px;
}
h3{
    font-weight: 500;
    font-size: 24px;
    padding: 36px 0px 0px 0px;
}
#formlist{
    text-align: left;
    align-items:flex-start;
}
.button{
    all: unset;
    margin: auto;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
    
    width: 100px;
    height: 32px;
    border-radius: 4px;
    

    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.button:hover{
    cursor: pointer;
}
.button.primary{
    padding: 4px 12px;
    background: #3A89D2;
    color: white;
}
.button.primary:hover{
    background: #2678c5;
}

.button.secondary{
    padding: 10px 34px;
    border: 2px solid #3A89D2;
}
.button.secondary:hover{
    border: 2px solid #2678c5;
}
form{
    position: relative;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 36px;
    padding: 32px;
}
.formlist{
    text-align: left;
}
.field{
    margin: 8px 0px;
    width: 100%;
    padding: 4px 8px;
    background: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 4px;
}
.field:focus{
    outline: #F2F2F2;
    border: 2px solid #F2F2F2;
}
.short{
    height: 42px;
}
@media only screen and (max-width: 1000px) {
    #edit{
        width: 80%;
    }
    .button.primary{
        margin-bottom: 24px;
    }
}
@media only screen and (max-width: 610px) {
    #edit{
        width: 95%;
    }
    form{
        padding: 0px;
    }
}