body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
h2{
    font-size: 18px;
    line-height: 150%;
}
h4{
    font-size: 16px;
    text-decoration: none;
}
h5{
    margin-top: 6px;
    text-align: center;
    font-size: 16px;
}
ul{
    margin-left: -20px;
}
.button{
    all: unset;
    margin: auto;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
    
    width: 100px;
    height: 32px;
    border-radius: 4px;
    padding: 10px 14px;

    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.button:hover{
    cursor: pointer;
}

.button.primary{
    background: #3A89D2;
    color: white;
}
.button.primary:hover{
    background: #2678c5;
}
.button.minus{
    background: #FF6161;
    color: white;
}
.button.minus:hover{
    background: #fc4e4e;
}
.button.secondary{
    padding: 8px 14px;
    border: 2px solid #3A89D2;
}
.button.secondary:hover{
    border: 2px solid #2678c5;
}

.links, .login{
    display: flex;
    flex-direction: row;
}
#namax{
    margin: auto;
}

.top, .bottom{
    width : 85%;
    margin: auto;
    margin-top: 64px;
    padding: 16px;
    display: flex;
}
.bottom{
    margin-top: 0px;
}
.box{
    padding : 24px 40px;
    border-radius: 16px;
    background: white;
}
.title{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#buttons{
    width: 100%;
    text-align: center;
    margin-top: 16px;
}
.minibutton{
    margin-left: 24px;

    width: 80px;
    height: 24px;
    border-radius: 8px;
}
.description{
    position: relative;
    top: 50%;
    width: 55%;
    margin-left: 32px;
}
.centering{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.descriptions{
    display: flex;
    flex-direction: row;
}
.inside{
    width: 50%;
}
.right{
    margin-left: 7%;
}
.desctext{
    margin: 12px 8px;
}

.headingbottom{
    margin-top: 36px;
}
.pelamar{
    width: 100%;
    background: white;
    
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
}
.cards{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.cardx{
    width: 280px;
    height: 250px;

    background: white;
    border: 2px solid #e9e9e9;
    border-radius: 16px;
    padding: 16px 32px;
    margin: 16px;

    transition: all 0.2s ease-in-out;
}
.cardx::after {
    transition: opacity 0.2s ease-in-out;
}

.cardx:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(238, 238, 238);
}

.cardx:hover::after {
    opacity: 1;
}
.cardxText{
    overflow: hidden;
    text-overflow: ellipsis;
}
.closingModal{
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
#closeModal{
    position: relative;
    margin-right: 0px;
    cursor: pointer;
    text-align: right;
}
#modalContent{
    position: relative;
    background: white;
    border-radius: 16px;
    width: 40%;
    height: 220px;
    padding: 24px;
    margin: 0 auto;

    text-align: center;
}

@media only screen and (max-width: 1400px) {
    .title{
        width: 50%;
    }
    .description{
        width: 50%;
    }
    #modalContent{
        height: 250px;
    }
}
@media only screen and (max-width: 1000px) {
    .top{
        flex-direction: column ;
    }
    .title{
        width: 100%;
    }
    .description{
        width: 100%;
        margin-top: 32px;
        margin-left: 0px;
    }
    .centering{
        position: static;
        transform: translate(0, 0);
    }
    #modalContent{
        width: 60%;
    }
}
@media only screen and (max-width: 460px) {
    .button{
        padding: 10px 8px 2px 8px;
    }
    .button.secondary{
        padding: 8px 6px 0px 6px;
    }
    #buttons{
        display: flex;
        flex-direction: column;
        gap: 16px;

        width: 100%;
        margin: auto;
        margin-top: 16px;
        align-items: center;
    }
    .descriptions{
        flex-direction: column;
    }
    .right{
        margin-left: 0;
    }
    #modalContent{
        width: 80%;
    }
}